<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healthcare.biz.mybatis.persistence.ActivityDeviceMapper">


	<select id="getDevices" resultType="com.healthcare.biz.mybatis.domain.ActivityDevice">
		SELECT name, mac, description FROM activity_device;
	</select>
	
	<select id="getDevicesStudentMap" resultType="com.healthcare.biz.mybatis.domain.ActivityDeviceStudentInfo">
		SELECT 
		    b.name,
		    b.mac,
		    b.description,
		    a.userId,
		    a.name,
		    a.SCHOOL_YEAR AS schoolYear,
		    a.School_ID AS schoolId,
		    a.Grade_ID AS schoolGradeId,
		    a.class AS classNumber
		FROM
		    (SELECT 
		        a.name, a.mac, description, b.student_id
		    FROM
		        activity_device a, activity_device_student_map b
		    WHERE
		        a.name = b.device_name) b
		        LEFT JOIN
		    (SELECT 
		        *
		    FROM
		        student_info_detail a
		    WHERE
		        1 = 1 AND a.school_year = #{year}
		            AND a.school_id = #{school_id}
		            AND a.grade_id = #{grade_id}
		            AND a.class = #{class_id}) a ON a.userId = b.student_id
		;
	</select>
	
	
	
</mapper>