<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healthcare.biz.mybatis.persistence.ActivityDeviceMapper">


	<select id="getDevices" resultType="com.healthcare.biz.mybatis.domain.ActivityDevice">
		SELECT name, mac, description FROM activity_device;
	</select>
	
	<select id="getDevicesStudentMap" resultType="com.healthcare.biz.mybatis.domain.ActivityDeviceStudentInfo">
		SELECT 
		    a.name,
		    a.mac,
		    a.description,
		    b.userId,
		    b.name as userName,
		    b.SCHOOL_YEAR AS schoolYear,
		    b.School_ID AS schoolId,
		    b.Grade_ID AS schoolGradeId,
		    b.class AS classNumber
		FROM
		    (SELECT 
		        *
		    FROM
		        activity_device) a
		        LEFT JOIN
		    (SELECT 
		        b.device_name, a.*
		    FROM
		        (SELECT 
		        *
		    FROM
		        student_info_detail a
		    WHERE
		        1 = 1 AND a.school_year = #{year}
		            AND a.school_id = #{school_id}
		            AND a.grade_id = #{grade_id}
		            AND a.class = #{class_id}) a, (SELECT 
		        *
		    FROM
		        activity_device_student_map) b
		    WHERE
		        a.userId = b.student_id) b ON a.name = b.device_name
		;
	</select>
	
	<insert id="insertWorkrate" parameterType="ActivityWorkRate" >
		insert into activity_registration (student_id, mac, reg_datetime, sports_id, collect_datetime, steps, calorie, distance, bmi_status) 
		values(#{userId}, #{mac}, now(), #{sportId}, #{collectDt}, #{steps}, #{calorie}, #{distance}, #{bmiStatus});
	</insert>
	
	<select id="getSchoolInfo" resultType="com.healthcare.biz.mybatis.domain.ActivitySchoolInfo">
		SELECT 
		    a.school_year schoolYear,
		    a.school_id schoolId,
		    a.grade_id gradeId,
		    a.classCnt classCnt,
		    b.school_name schoolName,
		    b.section section
		FROM
		    (SELECT 
		        school_year, school_id, grade_id, MAX(class) AS classCnt
		    FROM
		        school_register
		    WHERE
		        1 = 1 AND school_year = '2015'
		    GROUP BY school_year , school_id , grade_id
		    ORDER BY school_id , grade_id) a,
		    school_info b
		WHERE
		    a.school_id = b.school_id
		order by schoolId, gradeId;
	</select>
	
	<select id="getSportInfo" resultType="com.healthcare.biz.mybatis.domain.ActivitySport">
		SELECT 
		    sports_id AS id,
		    alias AS name,
		    small_image_path as smallImagePath,
		    large_image_path as largeImagePath
		FROM
		    activity_stports;
	</select>
	
	
</mapper>