<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healthcare.biz.mybatis.persistence.StudentMapper">
	<!--  DATE_FORMAT(FROM_DAYS(TO_DAYS(now()) - TO_DAYS(student_info.STU_Birth)), '%Y') + 1 + 1  AS age,-->
	<select id="getStudentListByMdn" parameterType="string" resultType="Student">
		select 
		    student_info.Student_ID AS userId,
		    student_info.STU_Name AS name,
		    student_info.STU_Sex AS sex,
		    Convert(Convert(Date_Format(now(),'%Y'),UNSIGNED) - Convert(substring(student_info.STU_Birth, 1, 4),UNSIGNED)  +1,CHAR) AS age ,
		    DATE_FORMAT(student_info.STU_Birth, '%Y-%m-%d') AS birthDate,
		    school_info.address AS address
		from
		    guardian_info,
		    student_info,
			student_guardian_mapping,
			school_register,
			school_info
		where
			1 = 1
		    	and guardian_info.Mdn = #{mdn}
		        and guardian_info.Mdn = student_guardian_mapping.Mdn
				and student_info.Student_ID = student_guardian_mapping.Student_ID
				and student_info.Student_ID = school_register.Student_ID
				and school_register.School_ID = school_info.School_ID;
	</select>
	
	<!--   DATE_FORMAT(FROM_DAYS(TO_DAYS(now()) - TO_DAYS(student_info.STU_Birth)), '%Y') + 1 + 1  AS age, -->
	<!--<select id="getStudentByUserId" parameterType="string" resultType="Student">
		select 
		    student_info.Student_ID AS userId,
		    student_info.STU_Name AS name,
		    student_info.STU_Sex AS sex,
		    Convert(Convert(Date_Format(now(),'%Y'),UNSIGNED) - Convert(substring(student_info.STU_Birth, 1, 4),UNSIGNED)  +1,CHAR) AS age ,
		    DATE_FORMAT(student_info.STU_Birth, '%Y-%m-%d') AS birthDate
		from
			student_info
		where
			student_info.student_id = #{userId};
</select>-->

	<select id="getStudentByUserId" parameterType="string" resultType="Student">
		select 
		    student_info.Student_ID AS userId,
		    student_info.STU_Name AS name,
		    student_info.STU_Sex AS sex,
			school_register.school_year AS schoolYear,
			school_register.grade_id AS schoolGradeId,
		    Convert(Convert(Date_Format(now(),'%Y'),UNSIGNED) - Convert(substring(student_info.STU_Birth, 1, 4),UNSIGNED)  +1,CHAR) AS age ,
		    DATE_FORMAT(student_info.STU_Birth, '%Y-%m-%d') AS birthDate
		from
			student_info , school_register 
		where student_info.Student_ID = school_register.Student_ID
		and	student_info.student_id = #{userId}
		and school_register.School_Year = (select max(school_year)from school_register where student_id=#{userId});
</select>
	<select id="getSchoolInfoByUserId" parameterType="string" resultType="Student">
		select 
		    school_register.Class AS classNumber,
			school_register.grade_id AS schoolGradeId,
			school_register.School_ID AS schoolId
		  from school_register
		 where Student_ID = #{userId}
		 and school_year = (select max(school_year) from school_register where student_id= #{userId});
	</select>
	<!--<select id="getSchoolInfoByUserId" parameterType="string" resultType="Student">
		select 
		    school_register.Class AS classNumber,
			school_register.grade_id AS schoolGradeId,
			school_register.School_ID AS schoolId
		  from school_register
		 where Student_ID = #{userId}
		 order by  Mod_Date desc
		 limit 1;
	</select>
-->
	
	<!--  select id="getStudentListByMdn" parameterType="string" resultType="Student">
		select 
		    student_info.Student_ID AS userId,
		    student_info.STU_Name AS name,
		    student_info.STU_Sex AS sex,
		    DATE_FORMAT(FROM_DAYS(TO_DAYS(now()) - TO_DAYS(student_info.STU_Birth)), '%Y') + 1 AS age,
		    DATE_FORMAT(student_info.STU_Birth, '%Y-%m-%d') AS birthDate,
		    school_register.Class AS classNumber,
		    school_register.grade_id AS schoolGradeId,
		    school_register.School_ID AS schoolId
		from
		    guardian_info,
		    student_info,
			student_guardian_mapping,
		    school_register,
		    school_info
		where
			1 = 1
		    	and guardian_info.Mdn = #{mdn}
		        and guardian_info.Mdn = student_guardian_mapping.Mdn
				and student_info.Student_ID = student_guardian_mapping.Student_ID
		        and school_register.Student_ID = student_info.Student_ID
				and school_register.School_ID = school_info.School_ID
		        and school_register.School_Year = DATE_FORMAT(now(), '%Y');
	</select -->
	<!-- select id="getStudentByUserId" parameterType="string" resultType="Student">
		select 
		    student_info.Student_ID AS userId,
		    student_info.STU_Name AS name,
		    student_info.STU_Sex AS sex,
		    DATE_FORMAT(FROM_DAYS(TO_DAYS(now()) - TO_DAYS(student_info.STU_Birth)), '%Y') + 1 AS age,
		    DATE_FORMAT(student_info.STU_Birth, '%Y-%m-%d') AS birthDate,
		    school_register.Class AS classNumber,
			school_register.grade_id AS schoolGradeId,
			school_register.School_ID AS schoolId
		from
			student_info,
		    school_register,
		    school_info
		where
			student_info.student_id = #{userId}
				and school_register.Student_ID = student_info.Student_ID
				and school_register.School_ID = school_info.School_ID
				and school_register.School_Year = DATE_FORMAT(now(), '%Y');
	</select -->

</mapper>